<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mitao.dao.CommodityDao">
	<resultMap id="BaseResultMap" type="com.mitao.po.Commodity">
		<id column="cmd_id" property="cmdID" jdbcType="VARCHAR" />
        <result column="cmd_name" property="cmdName" jdbcType="VARCHAR" />
        <result column="type_ID" property="typeID" jdbcType="VARCHAR" />
        <result column="brand_ID" property="brandID" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectCommodityByCmdID" parameterType="String" resultMap="BaseResultMap">  
        SELECT * FROM Cart WHERE USER_ID = #{UserID}  
    </select>  
    <select id="selectCommodityByCmdName" parameterType="String" resultMap="BaseResultMap">  
        SELECT * FROM Cart WHERE USER_ID = #{UserID}  
    </select>
	
</mapper>